@import 'Constants.scss';

body{
  text-decoration: inherit;
  background-color: $mainBackgroundColor;
  font-family: $headingFont;
}

.logo {
  font-family: $logoFont;
}

.navLink {
  
  @include navLink();
}