@import 'Constants.scss';
@import 'reset.css';

body {
    background-color: $mainBackgroundColor;
    width: 100vw;
    height: 100vh;
    fill-opacity: 100%;
    @include mainFont();
    color: $textColor;
  }
  

  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  hr {
    color: $navColor;
    background-color: $accentColor;
    
  }
  .logo {
    @include logo;
   
  }
  .App-header {
    @include pageHeading($accentColor);
  }
  
  .navLink {
    @include navLink();
    
  }
  div {
    @include mainFont();
  }
  
.postsContainer {
  @include itemContainer();
}
.usersContainer {
  @include itemContainer();
  justify-content: space-evenly;
}


.singleEntry {
  @include singleEntry;
}
.profile-image {
  @include images();
}
.post-image {
  @include images();
}
.newUserLink {
  @include newUserLink()
}

.newUserForm {
  @include forms()
}